<div class="jumbotron">
   <table class="sql-table">
   <%= for cube <- get_cube_table() do %>
      <tr>
      <th><%= cube.id %></th>
      <th><%= cube.location %></th>
      <th><%= cube.model %></th>
      <th><%= cube.state %></th>
      </tr>
   <% end %>
   </table>

</div>
