<div class="jumbotron">
  <h2>SQL tables</h2>
  <p>
  Some test tables:<br>
  Quotes are a table of good quotes. <br>
  Cubes is a location table sample for the projects.
  </p>
  <h3>Quotes</h3>
  <%= for quote <- get_quotes() do %>
    <p><%= quote.quote %> - <%= quote.author %></p>
  <% end %>

</div>
