<div class="jumbotron">

  <br>
  <%= for quote <- get_random_quote() do %>
    <p class="quote"><%= quote.quote %></p>
    <p class="author"><%= quote.author%></p>
  <% end %>

  <%= for post <- @posts do %>
    <div>
      <span><%= link post.title, to: post_path(@conn, :show, post), class: "blog-post-thumb" %></span>
    </div>
  <% end %>

</div>
