<div class="blog">
  <h2>New post</h2>

  <%= render "form.html", changeset: @changeset,
                          action: post_path(@conn, :create) %>

  <!-- TODO back link needs a confirmation if the user has added something
  -->
  <span><%= link "Back", to: post_path(@conn, :author_index), class: "btn btn-default" %></span>
</div>
