<div class="blog">
  <h2>Show post</h2>

  <h3>
    <%= @post.title %>
  </h3>

  <p>
    <strong>Body:</strong><br>
    <%= raw(@post.body) %>
  </p>

  <span><%= link "Edit", to: post_path(@conn, :edit, @post) %></span>
  <span><%= link "Back", to: post_path(@conn, :index) %></span>
</div>  <!-- jumbotron -->
